

.about{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 2% 20%;

    @media(max-width: 800px){
        margin: 2%;
    }
}

.about-info{
    display: flex;
    flex-direction: row; 
}

.info{
    padding: 0% 5%;
    padding-top: 12%;
    line-height: 40px;
    @media(max-width: 500px){
        padding: 0% 2%;
    }
}

.about-img{
    margin-left: auto;
    @media(max-width: 500px){
        width: 40%;
        height: 40%;
    }
}