


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    line-height: 20px;
    padding: 5%;
    text-align: center;

    @media(max-width: 800px){
        line-height: 60px;
    }
}

header { 
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%; 
    
}

.cover{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 4% 20%;
    @media(max-width: 500px){
        justify-content: center;
    }
}

.cover-image{
    width: 50%;
    margin-left: auto;

    

    @media(max-width: 800px){
        width: 100%;
    }
}

.cover-content{
    display: flex;
    flex-direction: row;
    padding: 0% 3%;
    align-items: center;

    @media(max-width: 800px){
        flex-direction: column;
        padding: 10%;
    }
}



.more-info{
    margin: 10% 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.lambda-design{
    padding-bottom: 2%;
}