


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    line-height: 20px;
    padding: 5%;
}

.cover{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 4% 20%;
}

.cover-image{
    width: 50%;
    margin-left: auto;
}

.cover-content{
    display: flex;
    flex-direction: row;
    padding: 0% 3%;
    align-items: center;
}



.more-info{
    margin: 10% 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.lambda-design{
    padding-bottom: 2%;
}